/*

* Override Pages default styles or create your own styles here

*/


/*MetroJS overwrite*/
.live-tile,
.list-tile,
.copy-tile,
.tile-strip .flip-list > li {
  height: 100%;
  margin: 0px;
  outline: 1px solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  width: 100%;
}

/*ui-select workaround*/
.ui-select-multiple input.ui-select-search:not(.ng-touched) {
    width: 100% !important;
}

.tooltip {
  opacity: 0.9 !important;;
}

/*no arrors for bootstrap carousel*/
.right.carousel-control, .left.carousel-control {
    display: none;
}

/*hight fix for bootstrap carousel*/
.carousel .carousel-inner {
  height: 100% !important;
}