/*
* Override Pages default styles or create your own styles here
*/

/* Geometria fonts */

@font-face {
    font-family: "Geometria-Bold";
    src: url(../../pages/fonts/Geometria/Geometria-Bold.otf) format("truetype");
}

@font-face {
    font-family: "Geometria-BoldItalic";
    src: url(../../pages/fonts/Geometria/Geometria-BoldItalic.otf) format("truetype");
}

@font-face {
    font-family: "Geometria-ExtaBlack";
    src: url(../../pages/fonts/Geometria/Geometria-ExtaBlack.otf) format("truetype");
}

@font-face {
    font-family: "Geometria-ExtraBlackItalic";
    src: url(../../pages/fonts/Geometria/Geometria-ExtraBlackItalic.otf) format("truetype");
}

@font-face {
    font-family: "Geometria-ExtraLight";
    src: url(../../pages/fonts/Geometria/Geometria-ExtraLight.otf) format("truetype");
}

@font-face {
    font-family: "Geometria-ExtraLightItalic";
    src: url(../../pages/fonts/Geometria/Geometria-ExtraLightItalic.otf) format("truetype");
}

@font-face {
    font-family: "Geometria-Heavy";
    src: url(../../pages/fonts/Geometria/Geometria-Heavy.otf) format("truetype");
}

@font-face {
    font-family: "Geometria-HeavyItalic";
    src: url(../../pages/fonts/Geometria/Geometria-HeavyItalic.otf) format("truetype");
}

@font-face {
    font-family: "Geometria-Italic";
    src: url(../../pages/fonts/Geometria/Geometria-Italic.otf) format("truetype");
}

@font-face {
    font-family: "Geometria-Light";
    src: url(../../pages/fonts/Geometria/Geometria-Light.otf) format("truetype");
}

@font-face {
    font-family: "Geometria-LightItalic";
    src: url(../../pages/fonts/Geometria/Geometria-LightItalic.otf) format("truetype");
}

@font-face {
    font-family: "Geometria-Medium";
    src: url(../../pages/fonts/Geometria/Geometria-Medium.otf) format("truetype");
}

@font-face {
    font-family: "Geometria-MediumItalic";
    src: url(../../pages/fonts/Geometria/Geometria-MediumItalic.otf) format("truetype");
}

@font-face {
    font-family: "Geometria-Thin";
    src: url(../../pages/fonts/Geometria/Geometria-Thin.otf) format("truetype");
}

@font-face {
    font-family: "Geometria-ThinItalic";
    src: url(../../pages/fonts/Geometria/Geometria-ThinItalic.otf) format("truetype");
}

@font-face {
    font-family: "Geometria";
    src: url(../../pages/fonts/Geometria/Geometria.otf) format("truetype");
}

/* Text styles */

h1 {
    font-family: "Geometria", sans-serif;
    font-size: 38px;
    letter-spacing: -0.5px;
}

h3 {
    font-family: "Geometria", sans-serif;
    font-size: 24px;
    letter-spacing: -0.5px;
}

h6 {
    font-family: "Geometria-Heavy", sans-serif;
    font-size: 14px;
    letter-spacing: -0.5px;
}

h5 {
    font-family: "Geometria", sans-serif;
    font-size: 14px;
    letter-spacing: -0.5px;
}

h8 {
    font-family: "Geometria-Bold", sans-serif;
    font-size: 12px;
    letter-spacing: -0.5px;
}

body {
    background-color: white;
    font-family: "Geometria-Bold", sans-serif;
    color: #333;
    font-size: 14px;
    letter-spacing: -0.5px;
}

p {
    font-family: "Geometria-Bold", sans-serif;
    font-size: 13px;
    letter-spacing: -0.5px;
    line-height: 200%;
}


/* Font Weights
------------------------------------
 */
.normal {
    font-weight: normal;
    font-family: "Geometria-Medium", sans-serif;
    letter-spacing: -0.5px;
}

.semi-bold {
    font-weight: 400 !important;
    font-family: "Geometria-ExtaBlack", sans-serif;
    letter-spacing: -0.5px;
}
.bold {
    font-weight: bold !important;
    font-family: "Geometria-Heavy", sans-serif;
    letter-spacing: -0.5px;
}
.light {
    font-weight: 300 !important;
    font-family: "Geometria", sans-serif;
}

.title {
    font-weight: bold !important;
    font-family: "Geometria-ExtaBlack", sans-serif;
}
