<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg bg-white">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
        <div class="panel-body">
            <div class="panel">
                <button class="btn btn-success pull-right" id="btnToggleSlideUpSize" ng-click="showNewChallenge()">
                    <i class="fa fa-plus"></i> <span translate>{{'challenge-button-new'}}</>
                </button>
                <ul class="nav nav-tabs nav-tabs-simple" role="tablist">
                    <li ng-class="{'active': activeTab==0}">
                        <a data-toggle="tab" pg-tab role="tab" ng-click="setActive(0)" translate>{{'challenge-tab-new'}}</a>
                    </li">
                    <li ng-class="{'active': activeTab==1}">
                        <a data-toggle="tab" pg-tab role="tab" ng-click="setActive(1)" translate>{{'challenge-tab-active'}}</a>
                    </li>
                    <li ng-class="{'active': activeTab==2}">
                        <a data-toggle="tab" pg-tab role="tab" ng-click="setActive(2)" translate>{{'challenge-tab-successful'}}</a>
                    </li>
                    <li ng-class="{'active': activeTab==3}">
                        <a data-toggle="tab" pg-tab role="tab" ng-click="setActive(3)" translate>{{'challenge-tab-failed'}}</a>
                    </li>
                    <li ng-class="{'active': activeTab==4}">
                        <a data-toggle="tab" pg-tab role="tab" ng-click="setActive(4)" translate>{{'challenge-tab-pending'}}</a>
                    </li>
                </ul>
            </div>
            <div class="table-responsive">
                <div class="table-responsive">
                    <table class="table table-hover table-condensed table-detailed" id="detailedTable" ui-options="options">
                    <thead>
                        <tr>
                            <th style="width:40%" translate>{{'challenge-table-th-challenge'}}</th>
                            <th style="width:30%" translate>{{'challenge-table-th-progress'}}</th>
                            <th style="width:15%" translate>{{'challenge-table-th-expires'}}</th>
                            <th style="width:15%" translate>{{'challenge-table-th-status'}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat-start="i in challengeData | filter:{ status: activeTab }" ng-click="expand($event)">
                            <td class="v-align-middle">
                                <challenge-title data="i"></challenge-title>
                            </td>
                            <td class="v-align-middle">
                                <div>
                                    <p class="small hint-text" translate translate-values='{ progress: i.yourProgress}'>{{'challenge-your-progress'}}</p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" style="width:{{i.yourProgress}}%"></div>
                                    </div>
                                </div>
                                <div ng-if="i.opponent">
                                    <p class="small hint-text" translate  translate-values='{ progress: i.opponentProgress}'>{{'challenge-opponent-progress'}}</p>
                                    <div class="progress">
                                        <div class="progress-bar bg-warning" style="width:{{i.opponentProgress}}%"></div>
                                    </div>
                                </div>
                            </td>
                            <td class="v-align-middle">
                                <p>{{formatDate(i.endDate, "fromNow")}}</p>
                            </td>
                            <td class="v-align-middle" ng-show="i.status==0">
                                <button class="btn btn-success btn-cons" ng-click="acceptChallenge(i)" translate>{{'challenge-button-accept'}}</button>
                            </td>
                            <td class="v-align-middle" ng-show="i.status==1">
                                <p>In Progress</p>
                            </td>
                            <!--<td class="v-align-middle" ng-show="i.status==1">
                                <button class="btn btn-danger btn-cons" ng-click="challengeAbort(i.id)" translate>{{'challenge-button-abort'}}</button>
                            </td>-->
                            <td class="v-align-middle" ng-show="i.status==2">
                                <p>Successful</p>
                            </td>
                            <td class="v-align-middle" ng-show="i.status==3">
                                <p>Failed</p>
                            </td>
                            <td class="v-align-middle" ng-show="i.status==4">
                                <button class="btn btn-danger btn-cons" ng-click="challengeAbort(i.id)" translate>{{'challenge-button-cancel'}}</button>
                            </td>
                        </tr>
                        <!--DETAILED INFO ABOUT CHALLENGE-->
                        <tr class="row-details" ng-repeat-end style="display:none">
                            <td colspan=4>
                                <p ng-if="i.opponent"> Type: <span>P2P Challenge with {{i.opponent}}</span></p>
                                <p ng-if="!i.opponent"> Type: <span>Regular Challenge</span></p>
                                <p> Created: {{formatDate(i.createDate, "full")}} </p>
                                <p ng-if="i.acceptDate"> Accepted: {{formatDate(i.acceptDate, "full")}} </p>
                                <p> Ends: {{formatDate(i.endDate, "full")}} </p>
                                <p> Fee: {{i.fee}} coins </p>
                                <p> Rewards: {{i.reward.coins}} coins and {{i.reward.points}} points </p>
                                <p> Already accepted by: {{i.acceptedby.join()}} </p>
                            </td>
                        </tr>
                        <!--END OF DETAILED INFO ABOUT CHALLENGE-->
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END PANEL -->
</div>
<!-- END CONTAINER FLUID -->

<!--MODAL-->
<div class="modal fade slide-up disable-scroll" id="newChallengeModal" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog ">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                    </button>
                    <h5>New Challenge</h5>
                    <p class="p-b-10">We need information about your new challenge.</p>
                </div>
                <div class="modal-body">
                    <ng-form name="newChallengeForm">
                        <div class="form-group-attached">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Challenge type</label>
                                        <!--<span class="help">Select new challenge type</span>-->
                                        <br/>
                                        <ui-select name="challenge" class="form-control" ng-model="newChallenge.challengeType" theme="select2" search-enabled="false"  required>
                                            <ui-select-match placeholder="Select challenge type...">
                                                {{'NewChallengeType' + newChallenge.challengeType.id | translate }}
                                            </ui-select-match>
                                            <ui-select-choices repeat="i in getChallengeTypes()">     
                                                {{'NewChallengeType' + i.id | translate}}
                                            </ui-select-choices>
                                        </ui-select>
                                        <p ng-show="newChallengeForm.challenge.$invalid && newChallengeForm.challenge.$touched" class="help-block error">Challenge type is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Product</label>
                                        <br/>
                                        <ui-select name="product" class="form-control" ng-model="newChallenge.product" theme="select2" close-on-select="false" limit="5" multiple required>
                                            <ui-select-match placeholder="Type product name...">
                                                {{$item.name}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="i in findProduct($select.search) | filter: {name: $select.search}" refresh="findProduct($select.search)" refresh-delay="0">
                                                <span ng-class="{'bold' : i.type==0}">{{i.name}}</span>
                                            </ui-select-choices>
                                        </ui-select>
                                        <p ng-show="newChallengeForm.product.$invalid && newChallengeForm.product.$touched" class="help-block error">Product is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group" required>
                                        <label>Amount</label>
                                        <input name="amount" type="number" min="0" step="1" name="productAmount" class="form-control" ng-model="newChallenge.productAmount" required>
                                        <p ng-show="newChallengeForm.amount.$invalid && newChallengeForm.amount.$touched" class="help-block error">Amount is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Person to Challenge</label>
                                        <br/>
                                        <ui-select name="opponent" class="form-control" ng-model="newChallenge.opponent" theme="select2" search-enabled="true" required>
                                            <ui-select-match placeholder="Type user name...">
                                                {{newChallenge.opponent.name}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="i in findPerson($select.search) | filter: {name: $select.search}" minimum-input-length="1" refresh="findPerson($select.search)" refresh-delay="0">
                                                <div style="height:32px;"><user-pic data="{{i.img}}"></user-pic> <span class="v-align-middle p-l-10"> {{i.name}}</span></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <p ng-show="newChallengeForm.opponent.$invalid && newChallengeForm.opponent.$touched" class="help-block error">Person is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Challenge End Date</label>
                                        <br/>
                                        <div id="datepicker-component" class="input-group date col-sm-8 p-l-0" ui-jq="datepicker">
                                            <input name="endDate" type="text" class="form-control" ng-model="newChallenge.endDate" required><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                        <p ng-show="newChallengeForm.endDate.$invalid && newChallengeForm.endDate.$touched" class="help-block error">Date is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Your bid</label>
                                        <input name="bid" type="number" min="0" step="1" class="form-control" ng-model="newChallenge.fee" required>
                                        <p ng-show="newChallengeForm.bid.$invalid && newChallengeForm.bid.$touched" class="help-block error">Bid is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-form>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="p-t-20 clearfix p-l-10 p-r-10">
                                <div class="pull-left">
                                    <p class="bold font-montserrat text-uppercase"></p>
                                </div>
                                <div class="pull-right">
                                    <p class="bold font-montserrat text-uppercase"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 m-t-10 sm-m-t-10">
                            <button type="button" class="btn btn-success btn-block m-t-5" ng-click="createChallenge(newChallengeForm)">Create</button>
                        </div>
                        <div class="col-sm-3 m-t-10 sm-m-t-10">
                            <button data-dismiss="modal" type="button" class="btn btn-danger btn-block m-t-5">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<!--END MODAL-->

