<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg bg-white">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
        <div class="panel-body">
            <div class="panel">
                <button class="btn btn-success pull-right" id="btnToggleSlideUpSize" ng-click="showNewChallenge()">
                    <i class="fa fa-plus"></i> <span translate>{{'challenge-button-new'}}</>
                </button>
                <ul class="nav nav-tabs nav-tabs-simple" role="tablist">
                    <li ng-class="{'active': activeTab==0}">
                        <a data-toggle="tab" pg-tab role="tab" ng-click="setActive(0)" translate>{{'challenge-tab-active'}}</a>
                    </li>
                    <li ng-class="{'active': activeTab==1}">
                        <a data-toggle="tab" pg-tab role="tab" ng-click="setActive(1)" translate>{{'challenge-tab-new'}}</a>
                    </li>
                    <li ng-class="{'active': activeTab==2}">
                        <a data-toggle="tab" pg-tab role="tab" ng-click="setActive(2)" translate>{{'challenge-tab-successful'}}</a>
                    </li>    
                    <li ng-class="{'active': activeTab==3}">
                        <a data-toggle="tab" pg-tab role="tab" ng-click="setActive(3)" translate>{{'challenge-tab-pending'}}</a>
                    </li>
                </ul>
            </div>
            <div class="table-responsive">
                <div class="table-responsive">
                    <table class="table table-hover table-condensed table-detailed" id="detailedTable" ui-options="options">
                    <thead>
                        <tr>
                            <th style="width:40%" translate>{{'challenge-table-th-challenge'}}</th>
                            <th style="width:30%" translate>{{'challenge-table-th-progress'}}</th>
                            <th style="width:15%" translate>{{'challenge-table-th-expires'}}</th>
                            <th style="width:15%" translate>{{'challenge-table-th-status'}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="(challengeData | filter:statusFilter(activeTab)).length < 1" class="row-details">
                            <td colspan="4" ><div class="text-center hint-text" translate>{{'challenge-no-data'}}</div></td>
                        </tr>
                        <tr ng-repeat-start="i in challengeData | filter:statusFilter(activeTab) | orderBy:'endDate':true" ng-class="{'shown':showDetails==i.id}"  ng-click="expand(i.id)"  ng-show="isRunning(i)">
                            <td class="v-align-middle">
                                <span translate translate-values='{ amount: i.amount, products:helper.flattenArray(i.products)}'> {{'challenge-name-' + i.type}}</span>
                            </td>
                            <td class="v-align-middle">
                                <div>
                                    <p class="small hint-text" translate translate-values='{ progress: i.participants[profileData.id].progress/i.amount*100 }'>{{'challenge-your-progress'}}</p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" style="width:{{i.participants[profileData.id].progress/i.amount*100}}%"></div>
                                    </div>
                                </div>
                                <!--
                                <div ng-if="i.opponent">
                                    <p class="small hint-text" translate  translate-values='{ progress: i.opponentProgress/i.amount*100 }'>{{'challenge-opponent-progress'}}</p>
                                    <div class="progress">
                                        <div class="progress-bar bg-warning" style="width:{{i.opponentProgress/i.amount*100}}%"></div>
                                    </div>
                                </div>
                                -->
                            </td>
                            <td class="v-align-middle">
                                <p am-time-ago="i.endDate*1000"></p>
                            </td>

                            <td class="v-align-middle" ng-show="i.participants[profileData.id].status==1">
                                <button class="btn btn-success btn-cons" ng-click="action.acceptChallenge(profileData, i)" translate>{{'challenge-button-accept'}}</button>
                            </td>
                            <!-- TODO
                            <td class="v-align-middle" ng-show="i.status==1">
                                <p translate>{{'challenge-status-1'}}</p>
                            </td>
                            <!--<td class="v-align-middle" ng-show="i.status==1">
                                <button class="btn btn-danger btn-cons" ng-click="challengeAbort(i.id)" translate>{{'challenge-button-abort'}}</button>
                            </td>-->
                            <td class="v-align-middle" ng-show="i.status==2">
                                <p translate>{{'challenge-status-2'}}</p>
                            </td>
                            <td class="v-align-middle" ng-show="i.status==3">
                                <p translate>{{'challenge-status-3'}}</p>
                            </td>
                            <td class="v-align-middle" ng-show="i.status==4">
                                <button class="btn btn-danger btn-cons" ng-click="challengeAbort(i.id)" translate>{{'challenge-button-cancel'}}</button>
                            </td>
                        </tr>
                        <!--DETAILED INFO ABOUT CHALLENGE-->
                        <tr class="row-details" ng-repeat-end ng-show="showDetails==i.id">
                            <td colspan=4>
                                <p ng-if="i.opponent" translate translate-values='{opponent: i.opponent}'> {{'challenge-details-p2p'}}</p>
                                <p ng-if="!i.opponent" translate>{{'challenge-details-regular'}}</p>
                                <p>
                                    <span translate>{{'challenge-details-created'}}</span> 
                                    <span am-time-ago="i.startDate*1000"></span>
                                </p>
                                <p ng-if="i.acceptDate">
                                    <span translate> {{'challenge-details-accepted'}}</span> 
                                    <span am-time-ago="i.participants[profileData.id].accepteDate*1000"></span>
                                </p>
                                <p>
                                    <span translate>{{'challenge-details-ends'}}</span> 
                                    <span am-time-ago="i.endDate*1000"></span>
                                </p>
                                <p translate translate-values='{fee: getFee(i)}'>{{'challenge-details-fee'}}</p>
                                <p translate translate-values='{coins: i.reward.coins,points: getPointsForChallenge(profileData.points)}'>{{'challenge-details-reward'}}</p>
                                <p translate translate-values='{accepted: getParticipants(i)}'>{{'challenge-details-acceptedby'}}</p>
                            </td>
                        </tr>
                        <!--END OF DETAILED INFO ABOUT CHALLENGE-->
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END PANEL -->
</div>
<!-- END CONTAINER FLUID -->

<!--MODAL-->
<div class="modal fade slide-up disable-scroll" id="newChallengeModal" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog ">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                    </button>
                    <h5 translate>{{'challenge-modal-caption'}}</h5>
                    <p class="p-b-10" translate>{{'challenge-modal-subcaption'}}</p>
                </div>
                <div class="modal-body">
                    <ng-form name="newChallengeForm">
                        <div class="form-group-attached">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label translate>{{'challenge-modal-field-challenge'}}</label>
                                        <!--<span class="help">Select new challenge type</span>-->
                                        <br/>
                                        <ui-select name="challenge" class="form-control" ng-model="newChallenge.challengeType" theme="select2" search-enabled="false"  required>
                                            <ui-select-match placeholder="{{ 'challenge-modal-field-challenge-placeholder' | translate }}">
                                                {{'NewChallengeType' + newChallenge.challengeType.id | translate }}
                                            </ui-select-match>
                                            <ui-select-choices repeat="i in getChallengeTypes()">     
                                                {{'NewChallengeType' + i.id | translate}}
                                            </ui-select-choices>
                                        </ui-select>
                                        <p ng-show="newChallengeForm.challenge.$invalid && newChallengeForm.challenge.$touched" class="help-block error" translate>{{'challenge-modal-field-challenge-required'}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label translate>{{'challenge-modal-field-product'}}</label>
                                        <br/>
                                        <ui-select name="product" class="form-control" ng-model="newChallenge.product" theme="select2" close-on-select="false" limit="5" multiple required>
                                            <ui-select-match placeholder="{{ 'challenge-modal-field-product-placeholder' | translate }}">
                                                {{$item.name}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="i in findProduct($select.search) | filter: {name: $select.search}" refresh="findProduct($select.search)" refresh-delay="0">
                                                <span ng-class="{'bold' : i.type==0}">{{i.name}}</span>
                                            </ui-select-choices>
                                        </ui-select>
                                        <p ng-show="newChallengeForm.product.$invalid && newChallengeForm.product.$touched" class="help-block error" translate>{{'challenge-modal-field-product-required'}}</p>
                                    </div>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group" required>
                                        <label translate>{{'challenge-modal-field-amount'}}</label>
                                        <input name="amount" type="number" min="0" step="1" name="productAmount" class="form-control" ng-model="newChallenge.productAmount" required>
                                        <p ng-show="newChallengeForm.amount.$invalid && newChallengeForm.amount.$touched" class="help-block error" translate>{{'challenge-modal-field-amount-required'}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label translate>{{'challenge-modal-field-person'}}</label>
                                        <br/>
                                        <ui-select name="opponent" class="form-control" ng-model="newChallenge.opponent" theme="select2" search-enabled="true" required>
                                            <ui-select-match placeholder="{{ 'challenge-modal-field-person-placeholder' | translate }}">
                                                {{newChallenge.opponent.name}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="i in findPerson($select.search) | filter: {name: $select.search}" minimum-input-length="1" refresh="findPerson($select.search)" refresh-delay="0">
                                                <div style="height:32px;"><user-pic data="{{i.img}}"></user-pic> <span class="v-align-middle p-l-10"> {{i.name}}</span></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <p ng-show="newChallengeForm.opponent.$invalid && newChallengeForm.opponent.$touched" class="help-block error" translate>{{'challenge-modal-field-person-required'}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label translate>{{'challenge-modal-field-end'}}</label>
                                        <br/>
                                        <div id="datepicker-component" class="input-group date col-sm-8 p-l-0" ui-jq="datepicker">
                                            <input name="endDate" type="text" class="form-control" ng-model="newChallenge.endDate" required><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                        <p ng-show="newChallengeForm.endDate.$invalid && newChallengeForm.endDate.$touched" class="help-block error" translate>{{'challenge-modal-field-end-required'}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label translate>{{'challenge-modal-field-bid'}}</label>
                                        <input name="bid" type="number" min="0" step="1" class="form-control" ng-model="newChallenge.fee" required>
                                        <p ng-show="newChallengeForm.bid.$invalid && newChallengeForm.bid.$touched" class="help-block error" translate>{{'challenge-modal-field-bid-required'}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-form>
                    <div class="row">
                        <p class="clearfix p-l-20 p-r-10 error" ng-show="newChallengeForm.$invalid && newChallengeForm.$submitted" translate>{{'challenge-modal-form-invalid'}}</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="p-t-20 clearfix p-l-10 p-r-10">
                                <div class="pull-left">
                                    <p class="bold font-montserrat text-uppercase"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 m-t-10 sm-m-t-10">
                            <button type="button" class="btn btn-success btn-block m-t-5" ng-click="createChallenge(newChallengeForm)" translate>{{'challenge-button-create'}}</button>
                        </div>
                        <div class="col-sm-3 m-t-10 sm-m-t-10">
                            <button data-dismiss="modal" type="button" class="btn btn-danger btn-block m-t-5" translate>{{'challenge-button-cancel'}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<!--END MODAL-->

