<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg bg-white">
    <!-- START PANEL -->
    <div class="panel panel-transparent" ng-controller="ChallengeCtrl">
        <div class="panel-body">

            <div class="panel">
                <ul class="nav nav-tabs nav-tabs-simple" role="tablist">
                    <li class="active">
                        <a href="#activechallenges" data-toggle="tab" pg-tab role="tab">Active Challenges</a>
                    </li>
                    <li>
                        <a href="#finishedchallenges" data-toggle="tab" pg-tab role="tab">Finished Challenges</a>
                    </li>
                    <li>
                        <a href="#successfulchallenges" data-toggle="tab" pg-tab role="tab">Successful Challenges</a>
                    </li>
                </ul>
            </div>
                <div class="table-responsive">
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed table-detailed" id="detailedTable" ui-options="options">
                        <thead>
                            <tr>
                                <th style="width:30%">Challenge</th>
                                <th style="width:25%">Expires</th>
                                <th style="width:25%">Progress</th>
                                <th style="width:20%">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat-start="i in challengeData" ng-click="expand($event)">
                                <td class="v-align-middle">
                                    {{getTitle(i.type,i.amount,i.product)}}
                                </td>

                                <td class="v-align-middle">
                                    <p>{{i.expires*1000 | date:"d.MM.yy 'at' H:mm"}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p ng-if="i.status==1">
                                        <p class="small hint-text">Complete {{i.progress}}%</p>
                                        <div class="progress">
                                            <div class="progress-bar" style="width:{{i.progress}}%"></div>
                                        </div>
                                    </p>
                                </td>
                                <td class="v-align-middle" ng-show="i.status==0">
                                    <button class="btn btn-primary btn-cons">Accept</button>
                                </td>
                                <td class="v-align-middle" ng-show="i.status==1">
                                    <button class="btn btn-primary btn-cons">Cancel</button>
                                </td>
                                <td class="v-align-middle" ng-show="i.status==2">
                                    <p>Successful</p>
                                </td>
                                <td class="v-align-middle" ng-show="i.status==3">
                                    <p>Failed</p>
                                </td>
                                <td class="v-align-middle" ng-show="i.status==4">
                                    <p>Canceled</p>
                                </td>
                            </tr>
                            <!--DETAILED INFO ABOUT CHALLENGE-->
                            <tr class="row-details" ng-repeat-end style="display:none">
                                <td colspan=4>
                                    <table class="table table-inline">
                                        <tr>
                                            <td>Detailed info about challenge</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!--END OF DETAILED INFO ABOUT CHALLENGE-->
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END PANEL -->
</div>
<!-- END CONTAINER FLUID -->
