<!--  START CONTAINER FLUID -->
<div class="container-fluid padding-25 sm-padding-10 sm-gutter">
    <!-- START MAIN ROW -->
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12 m-b-10">
                    <div class="ar-1-2">
                        <!-- START WIDGET -->
                        <div class="bg-complete-light panel no-border no-margin widget widget-loader-circle" ui-sref="app.challenge">
                            <div class="panel-heading">
                                <div class="panel-title text-black hint-text">
                                    <span class="font-montserrat fs-11 all-caps">ONGOING CHALLENGES <i class="fa fa-chevron-right"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="p-t-20" ng-repeat="i in dashboardData.challenges">
                                    <div class="">      
                                        <div class="pull-left">
                                            <h5 class="no-margin overflow-ellipsis">{{getChallengeTitle(i.type,i.amount,i.product)}}</h5>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <p class="small hint-text text-black">Complete {{i.progress}}%</p>
                                    <div class="progress">
                                        <div class="progress-bar" style="width:{{i.progress}}%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END WIDGET -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 m-b-10">
                    <div class="ar-2-1">
                        <div class="panel panel-condensed no-margin no-border widget-loader-circle" ui-sref="app.sales">
                            <div class="panel-heading">
                                <div class="panel-title text-black hint-text">
                                    <span class="font-montserrat fs-11 all-caps">MONTHLY SALES <i class="fa fa-chevron-right"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="panel-body no-padding">
                                <div class="tab-pane" id="tab-nvd3-area">
                                    <nvd3 options='nvd3_sales_options' class="line-chart m-t-30 text-center" data='nvd3_sales_data'></nvd3>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 m-b-10">
                    <div class="ar-2-1">
                        <!-- START WIDGET -->
                        <div class="panel bg-warning-light" ui-sref="app.news" >  
                            <div class="panel-heading">
                                <div class="panel-title text-black hint-text">
                                    <span class="font-montserrat fs-11 all-caps">LATEST NEWS <i class="fa fa-chevron-right"></i>
                                    </span>
                                </div>
                            </div>                      
                            <div class="panel-body no-padding">
                                <div class="metro live-tile" data-mode="carousel" data-start-now="true" data-speed="750" data-delay="5000" ui-jq="liveTile">
                                    <div class="tiles" ng-class="i.id == 1 ? 'slide-front slide active':'slide-back'" ng-repeat="i in dashboardData.news">
                                        <div class="padding-30">
                                            <div class="pull-top">
                                                <div class="pull-left visible-lg visible-xlg">
                                                    <i class="pg-map"></i>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="pull-bottom p-b-30">
                                                 <div class="row p-l-20 p-r-20 p-b-30">
                                                    <div class="thumbnail-wrapper d32 circular b-white m-r-10 b-a b-white"><img alt="" ng-data-src="assets/img/profiles/{{i.img}}" data-src-retina="assets/img/profiles/{{i.img}}" height="30" ng-src="assets/img/profiles/{{i.img}}" width="30"></div>
                                                    <div class="no-padding">
                                                        <h3 class="text-black">{{i.name}}</h3>
                                                        <h4 class="text-black">{{getNewsType(i.type)}} {{i.result}}</h4>
                                                        <div class="clearfix">
                                                            <div class="text-black pull-left small hint-text">
                                                                <h6 class="font-montserrat all-caps hint-text m-t-0">{{i.branch}}</h6>
                                                                <small class="fs-12 hint-text">{{i.timestamp*1000 | date:"d MMMM yyyy, H:mm"}}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--END WIDGET-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-sm-12 m-b-10">
                    <div class="ar-2-1">
                        <!-- START WIDGET -->
                        <div class="widget bg-primary-light panel no-border widget-loader-circle-lg no-margin" ui-sref="app.rating">
                            <div class="panel-heading">
                                <div class="panel-title text-black hint-text">
                                    <span class="font-montserrat fs-11 all-caps">POSITION &amp; TOTAL <i class="fa fa-chevron-right"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="pull-bottom">
                                    <div>
                                        <h2 class="no-margin text-white inline">{{dashboardData.rating.position}}</h2>
                                        <h4 class="no-margin text-white inline">/{{dashboardData.rating.totalPositions}}</h4>
                                        <p class="font-montserrat text-success no-margin fs-16 inline" ng-if="dashboardData.rating.ratingChange>=0">
                                            <i class="fa fa-caret-up"></i> +{{dashboardData.rating.ratingChange}}
                                        </p>
                                        <p class="font-montserrat text-danger no-margin fs-16 inline" ng-if="dashboardData.rating.ratingChange<0">
                                            <i class="fa fa-caret-down"></i> {{dashboardData.rating.ratingChange}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <nvd3 options='nvd3_rating_options' class="widget-8-chart line-chart" data='nvd3_rating_data' data-line-color="black" data-points="true" data-point-color="success" data-stroke-width="2"></nvd3>
                        </div>
                        <!-- END WIDGET -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 m-b-10">
                    <div class="ar-2-1">
                        <!-- START WIDGET -->
                        <div class="widget bg-success panel no-border widget-loader-circle-lg no-margin" ui-sref="app.rating">
                            <div class="panel-heading">
                                <div class="panel-title text-black hint-text">
                                    <span class="font-montserrat fs-11 all-caps">LEVEL &amp; POINTS<i class="fa fa-chevron-right"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="pull-bottom bottom-left bottom-right"> 
                                    <div>
                                        <h2 class="no-margin p-l-20 p-b-15  text-white inline">{{dashboardData.rating.level}}</h2>
                                        <h4 class="no-margin p-b-15 text-white inline">[{{dashboardData.rating.points}}]</h4>
                                    </div>  
                                    <span class="text-white small hint-text padding-15">{{dashboardData.rating.nextLevel-dashboardData.rating.points}} points more to the next level </span>
                                    <div class="progress progress-small m-b-20">
                                        <div class="progress-bar progress-bar-white" style="width:{{getLevelComplete(dashboardData.rating.points,dashboardData.rating.prevLevel,dashboardData.rating.nextLevel)}}%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END WIDGET -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 m-b-10">
                    <div class="ar-2-1">
                        <!-- START WIDGET -->
                        <div class="widget panel no-border bg-complete widget-loader-circle-lg no-margin" ui-sref="app.profile">
                            <div class="panel-heading">
                                <div class="panel-title text-black hint-text">
                                    <span class="font-montserrat fs-11 all-caps">TOP BADGES <i class="fa fa-chevron-right"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="pull-bottom bottom-left bottom-right padding-15">
                                    <div>
                                        <div class="p-t-10">
                                            <i class="badges-set {{getBadgeName(i.type)}} inline" title="{{getBadgeDescription(i.type)}} Earned {{i.timestamp*1000 | date:'d MMMM yyyy'}}" data-toggle="tooltip" onmouseenter="$(this).tooltip('show')" data-placement="bottom" ng-repeat="i in dashboardData.profile.badges"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END WIDGET -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 m-b-10">
                    <div class="ar-2-1">
                        <!-- START WIDGET -->
                        <div class="panel no-border bg-danger-light widget widget-loader-circle-lg no-margin"  ui-sref="app.shop">
                            <div class="panel-heading">
                                <div class="panel-title text-black hint-text">
                                    <span class="font-montserrat fs-11 all-caps">COINS <i class="fa fa-chevron-right"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="pull-bottom bottom-left bottom-right padding-25">
                                    <h2 class="no-margin text-white padding-15 inline">{{dashboardData.profile.coins}}</h2>
                                    <p class="font-montserrat text-success no-margin fs-16 inline" ng-if="dashboardData.profile.coinsChange>=0">
                                        <i class="fa fa-caret-up"></i> +{{dashboardData.profile.coinsChange}}
                                    </p>
                                    <p class="font-montserrat text-danger no-margin fs-16 inline" ng-if="dashboardData.profile.coinsChange<0">
                                        <i class="fa fa-caret-down"></i> {{dashboardData.profile.coinsChange}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- END WIDGET -->
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
<!-- END CONTAINER FLUID -->
