<div class="container-fluid container-fixed-lg sm-p-l-5">
    <div class="timeline-container top-circle">
        <section class="timeline">
            <div class="timeline-block" ng-repeat="i in newsData | orderBy:'timestamp':true">
                <div class="timeline-point warning" ng-if="i.type==0">
                    <i class="pg-plus"></i>
                </div>
                <div class="timeline-point success" ng-if="i.type==1">
                    <i class="fa fa-thumbs-up"></i>
                </div>
                <div class="timeline-point primary" ng-if="i.type==2">
                    <i class="fa fa-star"></i>
                </div>
                <div class="timeline-point success" ng-if="i.type==3">
                    <i class="fa fa-arrow-up"></i>
                </div>
                <!--
                for now cancel is not used
                <div class="timeline-point danger" ng-if="i.type==4">
                    <i class="fa fa-close"></i>
                </div>
                -->
                <!-- timeline-point -->
                <div class="timeline-content">
                    <div class="card share full-width">
                        <div class="circle" data-toggle="tooltip" title="Label" data-container="body">
                        </div>
                        <div class="card-header clearfix">
                            <user-pic data="{{i.user.img}}"></user-pic>
                            <h5>{{i.user.name}}</h5>
                        </div>
                        <div class="card-description">
                            <p>
                                <span translate>{{'news-type-' + i.type}}</span>
                                <span class="bold label fs-13" ng-show="i.type==0 || i.type==1">
                                    <span translate translate-values='{ amount: i.params.amount, products:helper.flattenArray(i.params.products)}'> {{'challenge-name-' + i.params.type}}</span>
                                </span>
                                
                                <span class="bold label fs-13" ng-show="i.type==2" translate translate-values='{ name: i.params.name, rank: i.params.rank }'>{{'badge-name'}}</span>
                                <span class="bold label fs-13" translate ng-show="i.type==3">{{i.params.level}}</span>
                            </p>
                        </div>
                        <!-- TODO likes? shares? -> for future social
                        <div class="card-footer clearfix" ng-show="false">
                            <div class="time">few seconds ago</div>
                            <ul class="reactions">
                                <li><a href="">5,345 <i class="fa fa-comment-o"></i></a>
                                </li>
                                <li><a href="">23K <i class="fa fa-heart-o"></i></a>
                                </li>
                            </ul>
                        </div>
                        -->
                    </div>
                    <div class="event-date">
                        <h6 class="font-montserrat all-caps hint-text m-t-0">{{i.user.group}}</h6>
                        <small class="fs-12 hint-text"><p am-time-ago="i.timestamp*1000"></p></small>
                    </div>
                </div>
                <!-- timeline-content -->
            </div>
        </section>
        <!-- timeline -->
    </div>
    <!-- -->
</div>
<!-- END CONTAINER FLUID -->
